In [1]:
import pandas as pd
import numpy as np

In [ ]:
!pip install surprise
import os
import pandas as pd
import numpy as np
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import KFold
from surprise.model_selection import cross_validate
from surprise import NormalPredictor
from surprise import KNNBasic
from surprise import KNNWithMeans
from surprise import KNNWithZScore
from surprise import KNNBaseline
from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import SlopeOne
from surprise import CoClustering
from surprise.accuracy import rmse
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
from collections import defaultdict

In [6]:
use_1 = pd.read_csv('Doctors/use_case1.csv')
use_2 = pd.read_csv('Doctors/use_case2.csv')
use_3 = pd.read_csv('Doctors/use_case3.csv')

In [11]:
ratings = pd.concat([use_1,use_2,use_3])
ratings.head()

   user_id  specialist_id  ratings   timestamp
0        1             55        5  1260759144
1        1             54        5  1260759144
2        1            233        3  1260759144
3        1            325        1  1260759144
4        1            339        4  1260759144

In [12]:
ratings.shape

(575, 4)

In [ ]:
ratings_dict = {'itemID': list(ratings.movieId),
                'userID': list(ratings.userId),
                'rating': list(ratings.rating)}